.account-container {
  border-radius: 10px;
  padding: 400px;
  display: flex;
  flex-direction: column;

  .account-title {
    padding: 10px;
    text-align: center;
    color: #28285e;
    background: #4242a314;
    text-transform: uppercase;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .return-login-link {
      font-size: 0.9rem;

      a {
        font-weight: bold;
        color: #ff4500;
      }
    }

    .password-container {
      position: relative;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        padding: 0.5rem 2.5rem 0.5rem 0.5rem;
      }

      .toogle-password {
        position: absolute;
        right: 0.5rem;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        color: var(--primary-title-color);
        i {
          pointer-events: none;
        }
      }
    }
  }
}
