@use '../variable.scss' as *;

body {
  // Default colors
  --primary-color: #{$blue};
  --secondary-color: #{$green};
  --tertiary-color: #{$red};
  --accent-color: #{$yellow};
  --gradient-color: linear-gradient(90deg, #00e6ac 0%, #ffde00 100%);

  // Backgrounds
  --body-background: #f3f3f3;
  --primary-background: #ffffff;
  --secondary-background: #f8f8f8;
  --tertiary-btn-background: #f2f2f2;

  --primary-title-color: var(--primary-color);
  --primary-text-color: #333;
  --accent-text-color: var(--primary-color);
  --secondary-text-color: #666666;
  --tertiary-text-color: #c7c7c7;
  --inverse-text-color: #ffffff;
  --info-status-background-color: #{$lightest-blue};
  --info-text-color: #aaa;

  --link-hover-color: #1d93ad;
  --border-color: #ddd;

  --success-color: var(--secondary-color);
  --warning-color: var(--accent-color);
  --info-color: var(--primary-color);
  --error-color: var(--tertiary-color);

  --standard-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);

  // Buttons
  --primary-btn-background: var(--primary-color);
  --primary-btn-text-color: var(--inverse-text-color);

  --secondary-btn-background: var(--secondary-color);
  --secondary-btn-text-color: var(--inverse-text-color);

  --accent-btn-background: var(--accent-color);
  --accent-btn-text-color: var(--inverse-text-color);

  --outline-btn-background: var(--primary-background);
  --outline-primary-btn-color: var(--primary-color);

  --default-btn-background: #e0e0e0;
  --default-btn-text-color: #000;

  --btn-save-color: var(--secondary-color);
  --btn-delete-color: var(--tertiary-color);
  --btn-disable-color: #c7c7c7;
  --btn-add-color: var(--primary-color);

  // Inputs
  --input-background: var(--secondary-background);

  // Select
  --selected-option-bg: #ffdfdf;
  --marked-option-bg: #fff0f0;

  // Font sizes
  --font-size-default: 13px;
  --font-size-action: 14px;
  --font-size-info: 13px;
  --font-size-h1: 18px;
  --font-size-h2: 14px;
  --font-size-menu: 16px;
  --font-size-menu-mobile: 13px;
  --font-size-icon-small: 11px;
  --font-size-icon-breadcrumb: 16px;
  --font-size-icon-input: 16px;
  --font-size-icon-button: 20px;
  --font-size-icon-big: 24px;

  // Navbar
  --submenu-item-hover-band: var(--accent-color);
  --menu-item-hover-band: var(--secondary-color);
  --submenu-item-hover-background: #f3f3f3;

  // Footer
  --foot-text-color: #{$light-blue};

  // Grids
  --grid-hover-bg-color: #{$lightest-blue};
  --sorted-header-bg-color: #e9e9e9;
  --pager-button-color: var(--primary-color);
  --pager-button-bg-color: var(--primary-color);
  --display-grid-header-background: #f3f3f3;
  --column-header-hover-color: var(--primary-color);

  // Tabstrips
  --tabstrip-item-bg: #f3f3f3;
  --tabstrip-item-hover-bg: #{$lightest-blue};
  --tabstrip-item-hover-text: var(--primary-color);
  --tabstrip-item-success-bg: #e9faf0;
  --tabstrip-item-success-icon-color: var(--secondary-color);
  --tabstrip-item-error-bg: #fae9e9;
  --tabstrip-item-error-icon-color: var(--tertiary-color);

  // Panelbars
  --panelbar-header-bg: #f3f3f3;
  --panelbar-header-selected: var(--primary-color);
  --panelbar-header-hover: #{$dark-blue};

  // Info icon
  --info-icon-background: var(--primary-color);
  --info-icon-color: var(--inverse-text-color);

  // Logistic requests
  --alert-card-header-color: #{$light-yellow};
  --alert-card-title-color: #{$dark-yellow};
  --people-card-header-color: #{$light-blue};
  --departments-card-header-color: #{$light-blue};
  --people-card-title-color: var(--primary-color);
  --departments-card-title-color: var(--primary-color);
  --technology-infos-panel: var(--primary-color);
  --admin-remark-color: var(--tertiary-color);

  // Logistic flow
  --logistic-flow-portal-color: #{$green};
  --logistic-flow-manual-color: #{$yellow};
  --logistic-flow-global-cost-background: #{$lighter-blue};
  --logistic-flow-global-cost-color: #{$dark-blue};

  // Manual schema
  --manual-scheme-cost-type-toggle-color: var(--tertiary-color);
  --manual-scheme-technology-status-ok: var(--success-color);
  --manual-scheme-technology-status-pending: var(--warning-color);
  --manual-scheme-technology-status-error: var(--error-color);

  // Cards
  --card-header-bg-color: #{$lightest-blue};

  // Status for logistic request
  --status-request-draft-color: #{$darker-grey};
  --status-request-toBeProcessed-color: var(--primary-color);
  --status-request-waiting-color: var(--accent-color);
  --status-request-validated-color: #{$dark-green};
  --status-request-refused-color: #{$dark-red};
  --status-request-collection-in-progress-color: #{$lighter-blue};
  --status-request-partiallyCollected-color: #{$lighter-yellow};
  --status-request-collectionCompleted-color: #{$lighter-green};
  --status-request-processing-color: #{$light-blue};
  --status-request-closed-color: #{$darker-green};
  --status-request-list-item-waiting-color: #{$dark-yellow};

  // Status for shipment order
  --status-shipment-toBeProcessed-color: var(--primary-color);
  --status-shipment-collecting-color: #{$lighter-blue};
  --status-shipment-partiallyCollected-color: #{$lighter-yellow};
  --status-shipment-collectionCompleted-color: #{$lighter-green};
  --status-shipment-processing-color: #{$light-blue};
  --status-shipment-closed-color: #{$darker-green};

  // Status for waste tracking forms
  --status-waste-draft-color: #{$darker-grey};
  --status-waste-sealed-color: var(--primary-color);
  --status-waste-signedByProducer-color: #{$lighter-yellow};
  --status-waste-sent-color: #{$light-yellow};
  --status-waste-received-color: #{$yellow};
  --status-waste-awaitingGroup-color: #{$dark-yellow};
  --status-waste-grouped-color: #{$lighter-blue};
  --status-waste-accepted-color: #{$light-blue};
  --status-waste-processed-color: #{$dark-green};
  --status-waste-followedWithPnttd-color: #{$lighter-green};

  // Warning icon
  --warning-icon-color: var(--accent-color);
  --people-icon-color: var(--primary-color);
  --departments-icon-color: var(--primary-color);

  // Text bubble
  --info-bubble-background-color: #{$lightest-blue};
  --info-bubble-text-color: var(--primary-color);
  --warning-bubble-background-color: #{$lightest-yellow};
  --warning-bubble-text-color: #{$darker-yellow};

  // Impersonate bar
  --impersonate-bar-background-color: #{$yellow};
}
