li.iti__country:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti__selected-flag.dropdown-toggle:after {
  content: none;
}
.iti__flag-container.disabled {
  cursor: default !important;
}
.iti.iti--allow-dropdown .flag-container.disabled:hover .iti__selected-flag {
  background: none;
}
.iti__dropdown-content {
  border: 1px solid #ccc;
  width: fit-content;
  padding: 1px;
  border-collapse: collapse;
}
.iti {
  display: block;
}
.iti__tel-input {
  outline: none;
}
.iti__tel-input[type='tel'] {
  &.error,
  &.ng-invalid.ng-touched {
    border-color: var(--error-color);
  }
  &:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
  }
}

.search-container {
  position: relative;
}
.search-container input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}
.search-icon {
  position: absolute;
  z-index: 2;
  width: 25px;
  margin: 1px 10px;
}
.iti__country-list {
  position: relative;
  border: none;
  max-height: 300px;
}

.iti input#country-search-box {
  padding-left: 6px;
}

.iti .selected-dial-code {
  margin-left: 6px;
}

.iti.separate-dial-code .iti__selected-flag,
.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-2 .iti__selected-flag,
.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3 .iti__selected-flag,
.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-4 .iti__selected-flag {
  width: 77px;
}

.iti.separate-dial-code input,
.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-2 input,
.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3 input,
.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-4 input {
  padding-left: 80px;
}
